<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>설문 목록</title>
</head>
<body>
    <a href="/polls/list">설문조사 목록</a>
    <a href="/polls/vote_create">신규 설문조사 등록</a>
    <h1>설문 목록</h1>
    <!-- Context value을 출력 -->
    {% for question in question_list %}
    <a href="{% url 'polls:vote_form' question.pk %}">
        {{ question.pk }}. {{ question.question_text | truncatechars:20 }}</a><br>
    {% empty %}
        등록된 설문조사가 없습니다.
    {% endfor %}
</body>
</html>